*{
  margin: 0;
  padding: 0;
  font-family: 'Shippori Antique B1', sans-serif;
  box-sizing: border-box;
}

.about-section{
  background: url('/assets/image/dogo.jpg') no-repeat left;
  background-size: 55%;
  background-color: #98E3FF;
  overflow: hidden;
  padding: 53px 0;
}

.inner-container{
  width: 55%;
  float: right;
  background-color: #fdfdfd;
  padding: 64px;
}

.inner-container h1{
  margin-bottom: 15px;
  font-size: 30px;
  font-weight: 900;
}

.text{
  font-size: 13px;
  color: #545454;
  line-height: 30px;
  text-align: justify;
}
