<nz-layout class="layout">
  <nz-sider class="white">

    <div class="logo">

      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 79 55">
        <g id="Group_1" data-name="Group 1" transform="translate(-239 -128)">
          <g id="Rectangle_1" data-name="Rectangle 1" transform="translate(239 128)" fill="#fff" stroke="#00bfff" stroke-width="2">
            <rect width="79" height="66" rx="15" stroke="none"/>
            <rect x="1" y="1" width="77" height="64" rx="14" fill="none"/>
          </g>
          <path id="Rectangle_5" data-name="Rectangle 5" d="M14,0H31a0,0,0,0,1,0,0V18A15,15,0,0,1,16,33H0a0,0,0,0,1,0,0V14A14,14,0,0,1,14,0Z" transform="translate(240 128)" fill="rgba(0,191,255,0.97)"/>
          <path id="Rectangle_2" data-name="Rectangle 2" d="M15,0h3a0,0,0,0,1,0,0V29a0,0,0,0,1,0,0H7a7,7,0,0,1-7-7V15A15,15,0,0,1,15,0Z" transform="translate(244 164)" fill="#00bfff"/>
          <path id="Rectangle_3" data-name="Rectangle 3" d="M15,0h3a0,0,0,0,1,0,0V43a0,0,0,0,1,0,0H0a0,0,0,0,1,0,0V15A15,15,0,0,1,15,0Z" transform="translate(269 150)" fill="#00bfff"/>
          <path id="Rectangle_4" data-name="Rectangle 4" d="M15,0h3a0,0,0,0,1,0,0V53a4,4,0,0,1-4,4H0a0,0,0,0,1,0,0V15A15,15,0,0,1,15,0Z" transform="translate(294 136)" fill="#00bfff"/>
        </g>
      </svg>

      Analyze. </div>

    <ul nz-menu nzTheme="light" nzMode="inline">

      <li nz-menu-item nzMatchRouter>
        <i  nz-icon nzType="appstore" nzTheme="outline">
        </i>
        <span>
          <a routerLink="/dashboard">Dashboard</a>
        </span>
      </li>


      <li nz-menu-item nzMatchRouter>
        <i nz-icon nzType="code-sandbox" nzTheme="outline"></i>
        <span>
          <a routerLink="/product">Product</a>
        </span>
      </li>

      <li nz-menu-item nzMatchRouter>
        <i nz-icon nzType="heart" nzTheme="outline"></i>
        <span>Favorite</span>
      </li>
      <li nz-menu-item nzMatchRouter>
        <i nz-icon nzType="message" nzTheme="outline"></i>
        <span>Messages</span>
      </li>
      <li nz-menu-item nzMatchRouter>
        <i nz-icon nzType="inbox" nzTheme="outline"></i>
        <span>Order List</span>
      </li>
      <li nz-menu-item nzMatchRouter>
        <i nz-icon nzType="stock" nzTheme="outline"></i>
        <span>Product Stock</span>
      </li>
    </ul>

    <div class="sub-2"> ACCOUNT </div>

    <ul nz-menu nzTheme="light" nzMode="inline">

      <li nz-menu-item nzMatchRouter>
        <i nz-icon nzType="setting" nzTheme="outline"></i>
        <span>Settings</span>
      </li>

      <li nz-menu-item nzMatchRouter>
        <i nz-icon nzType="edit" nzTheme="outline"></i>
        <span>Themes</span>
      </li>
      <li nz-menu-item nzMatchRouter>
        <i nz-icon nzType="question-circle" nzTheme="outline"></i>
        <span>Helps</span>
      </li>
    </ul>

  </nz-sider>
